{% extends '_backOffice/layout.backoffice.html.twig' %}

{% block title %}
	{{ parent()}}
	- Ajouter des badges
{% endblock %}
{% block content %}
	<div class="container">
		{{ form(form)}}
		</div>
	{% endblock %}
